
p{
    font: 1.2em "National Park", sans-serif;
    color: #000000; 
}
h5{
    font: 1.5em "National Park", sans-serif;
    color: #000000; 
}
.drink-menu {
    display: grid;
}  

.drink-item{ padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 
}

