<div class="menu">
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/shop">shop</a></li>
      <li><a routerLink="/spline-viewer">bookshelf</a></li>
      <li><a routerLink="/portfolio">portfolio</a></li>
      <li><a routerLink="/drinks">drinks</a></li>
      <li><a routerLink="/about">about</a></li>
      <li><a routerLink="/employee">employee_api</a></li>
      <li><a routerLink="/employee/delete">delete employee</a></li>
      <li><a routerLink="/employee/update">update employee</a></li>
      <li><a routerLink="/employee/new-employee">new employee</a></li>
      <li><a routerLink="/new-drink">design a new drink</a></li>
    </ul>
  </nav>
</div>
